.plane-img {
  width: 100%;
  margin-top: 85px;
 
}
.svg-comp2{
  position: relative;
}
.plane-img-div {
  overflow: hidden;
}
.component2-div {
  width: 100%;
  background: linear-gradient(to right, #4a349b, #e07785);
  height:250px;
  margin-top:0px;
  position: relative;
}
.svg-component2 {
  background: transparent;
  position: absolute;
  top: -11vw;
}
.airsoc-logo-2{
    display: none;
    position: absolute;
}
.airsoc-logo-text{
    display: none;
    position: absolute;
}
.airsoc-logo-text2{
    display: none;
    position: absolute;
}
.airsoc-logo-text3{
   
    position: absolute;
   
}

.component2-text-div{
  display: flex;
  justify-content: center;
  flex-flow:column;
    width: 85vw;
    position: absolute;
    left: 7.5vw;
    top:3vw;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.airsoc-logo-text3{
  display: flex;
  width: 40vw;
  top:-7vw;
  left:34vw;
  z-index: 100;
  color: white;
  font-size:6vw;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.underline-comp2{
  margin-bottom: 50px;
  margin-top: 100px;
}
.svg4-comp2{
  position: absolute;
  top:20px;
  left:0;
}
@media (max-width: 900px) {
    .plane-img {
        width: 100%;
       
       margin-top: 51px;
       filter:brightness(0.5);
       content: url('../../images/plane_a.svg');
      }
    .svg-component2 {
        top: -11vw;
      
      }
      .component2-text-div{
       top:10vw;
       left: 5vw;
       
      }
      .airsoc-logo-2{
       display: flex;
        width: 30%;
        top:-45vw;
        left:10vw;
        z-index: 100;
    }
    .airsoc-logo-text {
        display: flex;
        width: 30%;
        top:-45vw;
        left:40vw;
        z-index: 100;
        color: white;
        font-size:10vw;
    }
    .airsoc-logo-text2 {
        display: flex;
        width: 50%;
        top:-35vw;
        left:40vw;
        z-index: 100;
        color: white;
        font-size:9vw;
        font-weight: 400;
    }
    .airsoc-logo-text3{
        display: flex;
        width: 80%;
        top:-7vw;
        left:14vw;
        z-index: 100;
        color: white;
        font-size:12vw;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .component2-div {
      width: 100%;
      background: linear-gradient(to right, #4a349b, #e07785);
      height: 510px;
      margin-top:0px;
      position: relative;
    }
}
