* {
  margin: 0;
  padding: 0;

}
body{
    width: 100%;
}
.nav {
  display: flex;
  background: #b5627b;
  width: 100%;
  height: 85px;
  align-items: center;
  color: #f9f6f6;
  position: fixed;
  top:0;
  z-index: 1000000000;
}


.airsoc-logo-div {
  height: 70px;
  width: 120px;
}
.airsoc {
  margin: 0;
}
.iitr {
  margin: 0;
  width: 120px;
}
#logo {
  margin-left: 10%;
}
.logo-margin {
  margin-right: 8px;
}
.links {
  width: 70%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
.links0 {
  width:100%;
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: #f9f6f6;
  font-weight: 400;
}

.hamburger-div{
   
    display: flex;
    align-content: end;
    justify-content: end;
   
}
span{
    display: none;
    Width:36px;
    Height:6.4px;
    margin-bottom: 5px;
    margin-right: 40px;
    background: white;
    border-radius: 5px;
}
.list-div{
    display: none;
}
.list{
  display: none;
}
@media (max-width:900px) {
  #logo{
    width: 50px;
  }
  .nav{
    height: 51px;
  }
    #airsoc-logo{
        display: none;
    }
.airsoc-logo-div{
    display: none;
}
    .links0{
        display: none;
    }
  .hamburger-div{
    width: 100%;
    position: relative;
  }
   span{
    display: flex;
   }
   .list{
    width: 70%;
    height: 100vh;
     background:  #b5627b;
     border:2px solid black;
    display: flex;
   color: white;
    z-index: 1000;
   
    justify-content: end;
  
  
   
   
   }
   .list-{
    width: 50%;
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    height: 50vh;
   }
   .list-div{
    display: none;
    }
   .list-div-{
 position: absolute;
top:0;
    width: 100%;
   display: flex;
align-items: end;
justify-content: end;
}
.list-anchor-tags{
  margin: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-stretch:ext;
}
.cross-div{
  transform: rotate(45deg);
  align-self: flex-end;
}
.cross-span-1{
  width: 45px;
transform:rotate(90deg) translateX(12px);

}
.cross-span-2{
  width: 45px;
}
}


