.see-more-btn {
  width: 204px;
  height: 66px;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
cursor: pointer;
  color: #e07785;
  border: 0px;
  border-radius: 5vw;
  background: white;  z-index: 10;

}
.see-more-btn:hover {
    color: white;
  background:transparent;
  transition: all 0.5s ease-in-out;
}
.see-more-btn:hover:not(){
    color: white;
  background:transparent;
  transition: all 0.5s ease-in;
}

.see-more-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23vh;
  z-index: 100000000;
}

.btn-border {
  width: 212px;
  height: 73px;
  background: linear-gradient(90deg, #594899, #e07785);
  border-radius: 5vw;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:900px) {
  .see-more-btn {
    width: 154px;
  height: 56px;
  font-size: 20px;
  border-radius: 100px;
  }
  .btn-border {
    width: 162px;
    height: 63px;
    border-radius: 100px;}
    .see-more-btn-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 12vh;
      z-index: 100000000;
    }
}

